<div class="div bootstrap-wrapper">
    <div class="div container text-center">
        <h1>Welcome to admin panel</h1>
        <h1>{{userNameDisplay}}</h1>
        <button class="ml" mat-raised-button color="primary" routerLink="/sportslist">Sports List</button>
        <button class="ml" mat-raised-button color="primary" routerLink="/playerlist" >Player Info</button>
        <button class="ml" mat-raised-button color="primary" routerLink="/event">Event Info</button>
        <button  class="ml"mat-raised-button color="primary" routerLink="/participationList">Participation List</button>
        <!-- <button class="ml" mat-raised-button color="primary" >Approvals</button> -->
        <button class="ml" mat-raised-button color="primary" routerLink="/participationStatus" >Status</button>
    </div>
</div>